body {
    font-family: Helvetica, sans-serif;
}
#task {
    width: 100%;
    text-align: center;
    font-size: 150px;
}

#taskNote, .note, .notes {
    font-family: monospace !important;
}

#footer, #currentNote {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}